extends layout

block content
  script(type='text/javascript' src='/javascripts/index.js')
  div(id="title-wrapper")
    div(class="search-div")
      h3(class="title text-center")= title
      br
      
      form(role="form", action="/upload", method="post", enctype="multipart/form-data")
        div(class="input-group")
          span(class="input-group-btn")
            input(type='file' name="testfile" id='invisiload' style='display:inline' )
            button(class="btn btn-default" style='display:inline' type="button" id="uploadBtn")
              i(class="fa fa-upload")
          input(class="form-control" style='display:inline' id="uploadBox" placeholder="Click the button on the left to upload an image!" disabled)
          //span(class="input-group-btn" id="uploadBox" placeholder="Click the button on the left to upload an image!" )
          span(class="input-group-btn" id='searchSpan')
            button(class="btn btn-default" type="submit" id="searchBtn" disabled)
              i(class="fa fa-search")
          


  div(id="icon-wrapper")
    table(class='icon-table')
      tr(class='title-icons')
        td
          i(class="fa fa-picture-o")
        td
          i(class="fa fa-upload")
        td
          i(class="fa fa-headphones")
      tr(class='title-text')
        td
          omg find a kool pic
        td
          omg then upload da pic 2 dis kool website
        td
          omg now u get 2 listen 2 muzicz oOooOOooOOO~~

//
  script(type='text/javascript' src='/javascripts/index.js')

  div(class="container-fluid" id="title")

    div(class="row")

      div(class="search-div col-md-6 col-md-offset-3")

        h3(class="title text-center")= title

        form(role="form", action="/upload", method="post", enctype="multipart/form-data")
          input(type="file" name="testfile")
          input(type="submit")

//          div(class="input-group")

//            input(type="file" class="form-control" id="uploadBox" placeholder="Upload Music File...")
//            span(class="input-group-btn")
//              button(class="btn btn-default" type="button" id="uploadBtn")
//                span(class="glyphicon glyphicon-cloud-upload hover-off" aria-hidden="true")
