extends layout

block content
  script(type='text/javascript' src='/javascripts/results.js')
  div(style='padding:15px')
    a(href='/' class='backbutton')
      i(class="fa fa-chevron-circle-left")
      &nbsp;back to search
  div(class='results-wrapper container-fluid')
    div(class='col-md-12 result-title')
      h1 Here's your playlist:
    div(class='row')
      div(class='col-md-6' id='results-table')
        span(class='invis' style='display:none')
        each val, index in sResults
          div(class='row result')
            div(class='col-md-1')
              =index + 1
              | .
            div(class='col-md-5')
              =val[0]
              | &nbsp;-&nbsp;
              =val[1]
      div(class='song-details col-md-6')
        each val, index in sResults
          div(class='resultsList')
            img(src='/images/eternity.jpeg' class='song-image')
            br
            | Title:
            =val[0]
            br
            | Artist:
            =val[1]
            br



  div(id="icon-wrapper")
