extends layout

block content
  div(class='results-wrapper container-fluid')
    div(class='col-md-12')
      h1 Here's your playlist:
    div(class='row')
      div(class='results-table col-md-6')
        each val in sResults
          div(class='row result')
            =val.title
      div(class='song-details col-md-6')
        img(src='/images/eternity.jpeg' class='song-image')
        span Title:
        span =



  div(id="icon-wrapper")
