body {
  padding: 0px;
  font: 'Raleway';
}

a {
  color: #00B7FF;
}

.search-div {
	position: absolute;
	top: 70%;
	width:40%;
	left: 30%;
}

#uploadBox {
	border-top-left-radius:100px;
	border-bottom-left-radius:100px;
	background-color:#dddddd;
	opacity:0.6;
}
#uploadBtn {
	background-color:#cccccc;
	opacity:0.8;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
}
.title {
	margin: 20px
}

#title {
	background-image: url('../images/lelz.jpg');
	background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-position: center center;
    height: 60%;
    width:100%;
}