body {
  padding: 50px;
  font: 'Raleway';
}

a {
  color: #00B7FF;
}

.search-div {
	margin-top: 150px;
}
.title {
	margin: 20px
}

#title {
	background-image: 'images/lelz.jpg';
	background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center center;
    height: 100%;
    width:100%;
}