body {
  padding: 0px;
  font: 'Raleway';
  background-color: #222222;
}

a {
  color: #00B7FF;
}

.search-div {
	position: absolute;
	top: 60%;
	width:50%;
	left: 25%;
}

#uploadBox {
	border-top-left-radius:100px;
	border-bottom-left-radius:100px;
	background-color:white;
	opacity:0.6;
}
#uploadBtn {
	background-color:#cccccc;
	opacity:0.8;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
}
.title {
	font-family:Open Sans;
	margin: 20px;
	color:white;
	font-size: 40px;
	letter-spacing: 2px;
}

#title {
	background-image: url('../images/lelz.jpg');
	background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-position: center center;
    height: 70%;
    width:100%;
}