extends layout

block content
  script(type='text/javascript' src='/scripts/index.js')
  div(id="title")
    div(class="search-div")
      h3(class="title text-center")= title

      div(class="input-group")

        input(type="file" class="form-control" id="uploadBox" placeholder="Upload Music File...")
        span(class="input-group-btn")
          button(class="btn btn-default" type="button" id="uploadBtn")
            span(class="glyphicon glyphicon-cloud-upload hover-off" aria-hidden="true")

//
  script(type='text/javascript' src='/scripts/index.js')

  div(class="container-fluid" id="title")

    div(class="row")

      div(class="search-div col-md-6 col-md-offset-3")

        h3(class="title text-center")= title

        div(class="input-group")

          input(type="file" class="form-control" id="uploadBox" placeholder="Upload Music File...")
          span(class="input-group-btn")
            button(class="btn btn-default" type="button" id="uploadBtn")
              span(class="glyphicon glyphicon-cloud-upload hover-off" aria-hidden="true")
      div(class="col-md-12")

        h5(id="search-item") 

        table(class="table table-hover" id="search-result")